/* certificates.css */
body {
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    transform: scale(0.95);
    transform-origin: top center;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px;
}

.title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
    font-weight: bold;
}

.certificates-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.certificate img {
    width: 90%;
    height: auto;
    transition: transform 0.3s ease;
}

.certificate-title {
    font-size: 1em;
    font-weight: no;
    text-align: left;
    margin-top: 13px;
}

.certificate:hover img {
    transform: scale(1.3);
}

.certificates-grid .certificate {
    gap: 20px;
    align-items: flex-start;
}
